@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Neucha&family=Poppins:wght@300;400;500;600;700&display=swap');

@layer components {
  .leftArrow {
    @apply absolute top-[80%]  md:top-[70%] left-4 sm:left-0 w-12 h-12 flex items-center justify-center bg-white p-1 rounded-full opacity-80 active:scale-95 hover:bg-white/80;
  }
  .rightArrow {
    @apply absolute top-[80%] md:top-[70%] right-4 sm:right-0 w-12 h-12 flex items-center justify-center bg-white p-1 rounded-full opacity-80 active:scale-95 hover:bg-white/80;
  }
  .actionClass {
    @apply w-full py-4 px-6 rounded-lg outline-none bg-black/60 text-white/80;
  }
  .linkWrapperClass {
    @apply flex items-center w-[15rem] justify-center gap-2 bg-black/60 px-6 py-4 rounded-xl hover:text-white transition-all;
  }
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins';
}

a {
  color: inherit;
  text-decoration: none;
}
